body{
    background-color:lightgray;
}
h1{
    font-size: 40px;
    font-weight: bolder;
    font-style:oblique;
    margin-left:50px;
    color:yellowgreen;
}
img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
}
h2{
    font-size: 20px;
    font-weight:bold;
    font-style: italic;
    margin-left: 50px;
    color: yellow;
    letter-spacing: 1px;
    text-decoration: underline;

}
p{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    margin-left: 50px;
    color:black;
}
li{
    font-size:15px ;
    font-weight: inherit;
    font-style: normal;
    margin-left: 15px;
    color: purple;
}
h3{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    margin-left: 30px;
    color:black;
    }
h4{
    font-size:20px ;
    font-weight:bold;
    font-style:normal;
    margin-left:25px;
}
#example{
    text-decoration: underline;
}
#repo{
    text-decoration: underline;
}